<article>
  <h1 class="t_nav"><span>一个人越懒，明天要做的事越多；一个人越勤奋，明天的好日子就越多。</span><a href="/" class="n1">网站首页</a><a href="/about" class="n2">我的博文</a></h1>
     <div class="blogs">
           <div class="news_infos">
          
        </div>
        <div id="pageBar"  class="pagelist"><!--这里添加分页按钮栏--></div> 
        </div>
    <div class="rightbox">
      <div class="about">
        <div class="avatar"> 
          <input type="hidden" class="user_id" value="{$user->id}">  
        	{eq name="mation->u_headimg" value="" }
        		<img width="100" height="100" src="images/moren.jpg" alt="" title="点击更换头像" class="title">
        	{else/}
        		<img width="100" height="100" src="/uploads/{$mation->u_headimg}" title="点击更换头像" class="title">			
        	{/eq}
        </div>
        <div style="text-align: center;width:324.8px;height:60px;margin-top: 10px">
	        	<dl style="text-align: center;display: inline-block">
	        		<dt><a href="javascript:;" class="gofl"  title="查看关注">关注</a></dt>
	        		<dt>{$follow}</dt>
	        	</dl>
	        	<dl style="text-align: center;display: inline-block">
	        		<dt>|</dt>
	        		<dt>&nbsp;</dt>
	        	</dl> 
	        	<dl style="text-align: center;display: inline-block">
	        		<dt><a href="/fans" class="gofs" title="查看粉丝">粉丝</a></dt>
	        		<dt>{$fans}</dt>
	        	</dl> 
	        </div>
        <div class="ab_con">       	
	        <p>网名：{$user->strlookname}</p>   
	        <p>签名：{eq name="mation->u_signature" value="" }该用户很无趣，什么话都不想说{else/}{$mation->u_signature}{/eq}</p> 
	        <p>邮箱：{$user->stremail}</p>
	        <p>注册时间：{$user->strcreatetime|date="Y-m-d H:i:s"}</p>      	
        </div>
      </div>
       <div class="lmnav">
      <h2 class="hometitle">栏目导航</h2>
      <ul class="navbor">
        <li><a href="/about">关于我</a></li>
          <ul>
            <li><a href="/share">我的收藏</a></li>
            <li><a href="/ping">我的评论</a></li>
            <li><a href="/list">我的推荐</a></li>
          </ul>
        </li>
      </ul>
    </div>
      <div class="weixin">
        <h2 class="hometitle"></h2>
        <ul>
        </ul>
      </div>
    </div>
  </div>
  
</article>

<link rel="stylesheet" href="tanchu/style.css" media="all" />
<script src="tanchu/jquery.min.js"></script>
<script src="js/jquery-2.1.1.min.js"></script>
<script src="layer/layer.js"></script>
<script>
  $(document).on('click','.title',function ($) {
          var index = layer.open({
              type: 2,
              title: '上传头像',
              shadeClose: true,
              maxmin: true, //开启最大化最小化按钮
              shade: [0.1,'#fff'],
              area: ['500px', '500px'],
              content: '/upp' //iframe的url
            }); 

    });
</script>
<script>
  var curPage;        //当前页数
  var total; //总记录数
  var size; //每一页记录数
  var totalPage; //总页数
  $(function () {

      turnPage(1);

  });

  function turnPage(page)
  {
    $.ajax({
      type:'get',
      url:'/page',
      data: {'curPage': page},
      dataType: 'json',
      beforeSend: function () {
         $("#data-area ul").append("加载中...");
      },
      success:function(data)
      {

        $(".news_infos").empty();       //移除原来的分页数据
         total = data.data.total; // 返回的总记录数
         size = data.data.size; //返回的每一页记录数
         curPage = page; //返回的当前页码
         totalPage = data.data.totalPage; //返回的总页数
        var data = data.data.data; //返回的数据内容

        var data_html = "";
       //  console.log("total:"+total);
       // console.log("size:"+size);
       // console.log("curPage:"+curPage);
       // console.log("totalPage:"+totalPage);
        $.each(data, function (index, array) {
           data_html += "<li><h3 class='blogtitl'>"+array.bw_name+"</h3><div class='bloginfo'><p>"+array.bw_abstract+"</p></div><div class='autor'><span class='lm'><a href='/bk_user/"+array.bw_user_id+"'title='查看该博主主页'  target='_blank' class='classname'>博主："+array.bw_author+"</a></span><span class='dtime'>"+array.bw_createtime+"</span><span class='viewnum'>赞("+array.bw_zan+")</span><span class='readmore'><a href='/bktext/"+array.bw_id+"'>阅读原文</a></span></div></li>";
       }); 

         $(".news_infos").append(data_html);
         getPageBar();
      },
      error: function () {
       alert("数据加载失败");
      }
    })
  }

  /*
  total       总记录数
  size        每一页记录数
  curPage     当前页码
  totalPage   总页数
   */
  function getPageBar()
  { 
      if(curPage>totalPage)
      {
        curPage = totalPage;
      }
      if(curPage< 1)
      {
        curPage = 1;
      }

      pageBar = "";

      if(curPage != 1)
      {
        pageBar += "<span class='pageBtn'><a  href='javascript:turnPage(1)'>首页</a></span>";
        pageBar += "<span class='pageBtn'><a  href='javascript:turnPage("+(curPage-1)+")'>上一页</a></span>";
      }
      //显示五个按钮
      var start,end;
      if(totalPage <= 5)
      {
        start = 1;
        end = totalPage;
      }
      else
      {
          //当前页码与总页数相差1个的时候，要显示之前的页码
          if(totalPage - curPage < 2 )
          {
            start = totalPage - 4;
            end = totalPage;
          }else{
              //显示前面两个和后面两个
            start = curPage - 2;
            end  = curPage +2;
          }      
      }
      for (var i = start; i <= end; i++) {
          if(i == curPage)
          {
              pageBar += "<span class='pageBtn'><a  href='javascript:turnPage(" + i + ")'>" + i + "</a></span>";
          }else
          {
              pageBar += "<span class='pageBtn'><a href='javascript:turnPage(" + i + ")'>" + i + "</a></span>";
          }
      }
      if (curPage != totalPage) {
         pageBar += "<span class='pageBtn'><a href='javascript:turnPage(" + (parseInt(curPage) + 1) + ")'>下一页</a></span>";
         pageBar += "<span class='pageBtn'><a href='javascript:turnPage(" + totalPage + ")'>尾页</a></span>";
      }
      $("#pageBar").html(pageBar);
  }

  $(document).on('click','.gofl',function()
  {
      
  })
  // $(document).on('click','.gofs',function()
  // {
  //       var user_id = $('.user_id').val();
  //       $.post('/fansget',{user_id:user_id},function(msg)
  //       {
  //         console.log(msg);
  //       },'json')
  // })
</script>