
	<section class="Hui-article-box">
	<nav class="breadcrumb">
		<i class="Hui-iconfont">&#xe67f;</i> <a href="/after">当前为首页</a>

			<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="
			javascript:location.replace(location.href);" title="刷新" >
				<i class="Hui-iconfont">&#xe68f;</i>
			</a>
	</nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> 亲爱的<?=$_COOKIE['af_user']?>欢迎回来</div>
			<div class="mt-20">
				现在是北京时间<?=date('Y-m-d H-i-s',time())?>
			</div>
		</article>
	</div>
</section>

<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

